<div class="card p-2 m-2">
  {{#if event_photo}}
  <img src="https://res.cloudinary.com/dqv6cj4bc/image/upload/w_200,h_200,c_fill,q_100/{{event_photo}}" class="card-img-top" alt="...">
  {{else}}
  <img src="https://placebear.com/300/200" class="card-img-top" alt="...">
  {{/if}}
  <div class="card-body">
    <a class="card-text" href="/event/{{id}}">{{name}}</a>
    <p class="card-text">Hosted by: {{user.name}} <br> {{moment eventDate format="dddd, MMMM Do YYYY"}} <br> {{time}} </p>
  </div>
</div>