<div class="card p-2 m-2">
  <img src="https://placebear.com/300/200" class="card-img-top" alt="...">
  <div class="card-body">
    <a class="card-text" href="/event/{{id}}">{{name}}</a>
    <p class="card-text">Hosted by: {{user.name}} <br> {{date}} <br> {{time}} </p>
  </div>
</div>
