{{!-- <h1>Edit Event Page!</h1> --}}
<div class="card p-3 m-3">
    <div class="card-header">
        <h2>Edit {{hbsUser.name}}'s Event</h2>
    </div>
    <form class="card-body" id="edit-event-form">
        <div class="form-group">
            <label for="event-title" class="form-label">Title</label>
            <input name="event-title" class="form-control" type="text" id="event-title" value="{{userEvents.name}}">
    
        </div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="event-date" class="form-label">Date</label>
            <input name="event-date" class="form-control" type="date" id="event-date" value="{{userEvents.date}}" min="2022-11-01" max="2024-01-01" >
        </div>
</div>
<div class="col">
        <div class="form-group">
            <label for="event-time" class="form-label">Time</label>
            <input name="event-time" class="form-control" type="time" id="event-time" value="{{userEvents.time}}">
        </div>
</div>
</div>
        <div class="form-group">
            <div class="photo-to-edit">
            <img src="https://res.cloudinary.com/dqv6cj4bc/image/upload/w_200,h_200,c_fill,q_100/{{userEvents.event_photo}}" class="card-img-top" alt="...">
            <button class="btn btn-primary" id="upload_widget">Update Image</button>
            </div>
        </div>
        <div class="form-group">
            <label for="event-location" class="form-label">Location</label>
            <input name="event-location" class="form-control" type="text" id="event-location" value="{{userEvents.location}}">
        </div>
        <div class="form-group">
            <label for="event-body" class="form-label">Description</label>
            <textarea name="event-body" class="form-control" rows="3" placeholder="Please retype your event description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Update Event</button>
    </form>
</div>

<p id="user-name" style="display:none">{{hbsUser.id}}</p>

<p id="user-event" style="display:none">{{userEvent}}</p>

<p>{{photoToEdit}}</p>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script> 
<script src="/js/editEvent.js"></script>