<h1>This is my profile Welcome back, {{name}}</h1>

{{#each events}}
    <div class = "card">

    <a href="/event/{{id}}"><h3>{{name}}</h3></a>

    <p>Join us on {{date}} at {{time}} for an amazing time!</p>
    </div>
{{/each}}


<script src="/js/profile.js"></script>