<h1>This is my profile Welcome back, {{name}}</h1>
<div class="container">
    <div class="row justify-content-center row-cols-1 row-cols-md-3 row-cols-lg-4">
        {{#each events}}
        <div class="card p-2 m-2" >
            <img src="https://placebear.com/300/200" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="card-text" href="/event/{{id}}">{{name}}</a>
                <p class="card-text"> {{date}} <br> {{time}} </p>
                <button class="deleteEvent btn border-danger text-danger" data-eventId="{{id}}">Delete Event</button>
            </div>
        </div>
        {{/each}}


        <script src="/js/profile.js"></script>