<h2 class="text-center page-title pt-4 pb-3">My Events</h2>
<div class="container">
    <div class="px-5 row justify-content-center row-cols-1 row-cols-md-3 row-cols-lg-4">
        {{#each events}}
        <div id="card" class="card p-2 m-2" id="event-details" >
            {{#if event_photo}}
            <img src="https://res.cloudinary.com/dqv6cj4bc/image/upload/w_300,h_200,c_fill,q_100/{{event_photo}}" class="card-img-top" alt="...">
            {{else}}
            <img src="https://placebear.com/300/200" class="card-img-top" alt="...">
            {{/if}}
            <div class="card-body text-center profile-card">
                <a class="card-text text-capitalize font-weight-bold mb" id="card-title" href="/event/{{id}}"><span>{{name}}</span></a>
                <p class="card-info"> {{moment eventDate format="dddd, MMMM Do YYYY"}} <br> {{time}} </p>
                <button class="editEvent btn mt-2 border-secondary button text-secondary" data-eventId="{{id}}">Edit Event</button>
                <button class="deleteEvent btn mt-2 border-danger button text-danger" data-eventId="{{id}}">Delete Event</button>
            </div>
        </div>
        {{/each}}


        <script src="/js/profile.js"></script>