    <div class = "card">
   <h1>{{event.name}}</h1>
   <h5>By: {{event_creator}}</h5>

    <p>Join us on for {{event.name}}! We are going to have a BLAST and hope to see you there!</p>
    <br>
    <ul>
        <li>Where: {{event.location}}</li>
        <li>When: {{event.date}} at {{event.time}}</li>
        <li>What: {{event.description}}</li>
    </ul>

    </div>

