<div class="row justify-content-center">
    <div class="card p-2 m-2">
        <h1 class="text-center">{{event.name}}</h1>

        <br>
        <img src="https://placebear.com/300/200" class="card-img-top" alt="...">
        <br>
        <ul class="card-body">
            <li class="card-text">{{event.description}}<br><br></li>
            <li class="card-text">Host: {{user.name}}</li>
            <li class="card-text">Where: {{event.location}}</li>
            <li class="card-text">When: {{event.date}} at {{event.time}}</li>

        </ul>
    </div>
</div>