<div class="row justify-content-center">
    <div class="card p-2 m-2 col-md-6 col-12">
        <h1 class="text-center">{{event.name}}</h1>
        <p id="event-id" style="display:none">{{event.id}}</p>
        <p id="sessId" style="display:none">{{sessId}}</p>
        <p id="userId" style="display:none">{{userId}}</p>



    <br />
        {{#if event.event_photo}}
        <img src="https://res.cloudinary.com/dqv6cj4bc/image/upload/w_300,h_200,c_fill,q_100/{{event.event_photo}}" class="card-img-top" alt="...">
        {{else}}
    <img src="https://placebear.com/300/200" class="card-img-top" alt="..." />
        {{/if}}
    <br />
    <ul class="card-body">
      <li class="card-text">{{event.description}}<br /><br /></li>
      <li class="card-text">Host: {{event.user.name}}</li>
      <li class="card-text">Where: {{event.location}}</li>
      <li class="card-text">When:
        {{moment event.date format="dddd, MMMM Do YYYY"}}
        at
        {{moment event.time}}</li>
            <li class="card-text">Private Event?: {{event.isPrivate}}</li>
            <br>
            <button type="button" id='goingbtn' class="btn btn-primary" data-toggle="modal" data-target="#goingModal">Going</button>
            <button type="button" id='maybebtn' class="btn btn-secondary" data-toggle="modal" data-target="#maybeModal">Maybe</button>
            <button type="button" id='changebtn' class="btn btn-secondary" data-toggle="modal" data-target="#changeModal">Change my RSVP</button>
            <br> <br>
            <li class="card-text" id="goers">Goers:</li>
            <br>
            <li class="card-text" id="maybers">Maybers:</li>
        </ul>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="goingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Going</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="name-signup">Enter your name:</label>
                <input type="text" id="goingName" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="goingSave" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="maybeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Maybe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="name-signup">Enter your name:</label>
                <input type="text" id="maybeName" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="maybeSave" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script> 
<script src="/js/singleEvent.js"></script>

